In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

Display settings

In [2]:
#This set that when a dataframe is displayed all col
pd.set_option("display.max_columns",None)

#To show all the numpy array as a pandas dataframe
sklearn.set_config(transform_output="pandas")

Getting the data

In [3]:
#Here the data is in data folder to access from folder do this
train=pd.read_csv("data/train.csv")
test=pd.read_csv("data/test.csv")
val=pd.read_csv("data/val.csv")

In [4]:
train

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-06-21,Mumbai,Hyderabad,10:20:00,11:50:00,90,0.0,In-flight meal not included,4995
1,Air India,2019-05-18,Delhi,Cochin,09:00:00,07:40:00,1360,1.0,No Info,8372
2,Air India,2019-06-12,Kolkata,Banglore,09:10:00,11:05:00,1555,2.0,No Info,6117
3,Vistara,2019-04-01,Kolkata,Banglore,20:20:00,22:55:00,1595,1.0,No Info,7770
4,Vistara,2019-06-06,Kolkata,Banglore,17:00:00,10:45:00,1065,1.0,No Info,9187
...,...,...,...,...,...,...,...,...,...,...
635,Air Asia,2019-04-12,Banglore,Delhi,04:55:00,07:45:00,170,0.0,No Info,4282
636,Jet Airways,2019-05-09,Kolkata,Banglore,09:35:00,21:05:00,690,1.0,No Info,13067
637,Indigo,2019-05-15,Banglore,Delhi,06:05:00,08:50:00,165,0.0,No Info,4423
638,Multiple Carriers,2019-05-15,Delhi,Cochin,08:45:00,21:00:00,735,1.0,No Info,7670
639,Jet Airways,2019-05-21,Kolkata,Banglore,20:00:00,12:00:00,960,1.0,In-flight meal not included,10844

In [5]:
#Split ht data
def split_data(data):
    X=data.drop(columns="price")
    y=data.price.copy()
    return X,y

In [6]:
X_train,y_train=split_data(train)

In [7]:
X_train

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info
0,Jet Airways,2019-06-21,Mumbai,Hyderabad,10:20:00,11:50:00,90,0.0,In-flight meal not included
1,Air India,2019-05-18,Delhi,Cochin,09:00:00,07:40:00,1360,1.0,No Info
2,Air India,2019-06-12,Kolkata,Banglore,09:10:00,11:05:00,1555,2.0,No Info
3,Vistara,2019-04-01,Kolkata,Banglore,20:20:00,22:55:00,1595,1.0,No Info
4,Vistara,2019-06-06,Kolkata,Banglore,17:00:00,10:45:00,1065,1.0,No Info
...,...,...,...,...,...,...,...,...,...
635,Air Asia,2019-04-12,Banglore,Delhi,04:55:00,07:45:00,170,0.0,No Info
636,Jet Airways,2019-05-09,Kolkata,Banglore,09:35:00,21:05:00,690,1.0,No Info
637,Indigo,2019-05-15,Banglore,Delhi,06:05:00,08:50:00,165,0.0,No Info
638,Multiple Carriers,2019-05-15,Delhi,Cochin,08:45:00,21:00:00,735,1.0,No Info
639,Jet Airways,2019-05-21,Kolkata,Banglore,20:00:00,12:00:00,960,1.0,In-flight meal not included

In [8]:
#Printing the shape
print(X_train.shape,y_train.shape)

(640, 9) (640,)

In [14]:
#Checking of the data
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          640 non-null    object
 1   date_of_journey  640 non-null    object
 2   source           640 non-null    object
 3   destination      640 non-null    object
 4   dep_time         640 non-null    object
 5   arrival_time     640 non-null    object
 6   duration         640 non-null    int64
 7   total_stops      640 non-null    float64
 8   additional_info  640 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 45.1+ KB

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          200 non-null    object
 1   date_of_journey  200 non-null    object
 2   source           200 non-null    object
 3   destination      200 non-null    object
 4   dep_time         200 non-null    object
 5   arrival_time     200 non-null    object
 6   duration         200 non-null    int64
 7   total_stops      200 non-null    float64
 8   additional_info  200 non-null    object
 9   price            200 non-null    int64
dtypes: float64(1), int64(2), object(7)
memory usage: 15.8+ KB

In [13]:
val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          160 non-null    object
 1   date_of_journey  160 non-null    object
 2   source           160 non-null    object
 3   destination      160 non-null    object
 4   dep_time         160 non-null    object
 5   arrival_time     160 non-null    object
 6   duration         160 non-null    int64
 7   total_stops      160 non-null    float64
 8   additional_info  160 non-null    object
 9   price            160 non-null    int64
dtypes: float64(1), int64(2), object(7)
memory usage: 12.6+ KB

In [33]:
#Data preprocessing
dt_col=["date_of_journey","dep_time","arrival_time"]
num_col=["duration","total_stops"]
cat_col=["airline","source","destination","additional_info"]
##category=[col for col in X_train.columns if(col not in dt_cols ) and(col not in num_col)]

In [36]:
#importing all the libraries
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

#column transformet is used to perform the set of function on each col
from sklearn.compose import ColumnTransformer
#for datetime things 
from feature_engine.datetime import DatetimeFeatures

In [29]:
#creating of pipeline
num_pipe=Pipeline(steps=[
    ("imputer",SimpleImputer(strategy="mean")),
    ("scaler",StandardScaler())
])

cat_pipe=Pipeline(steps=[
    ("imputer",SimpleImputer(strategy="most_frequent")),
    ("encoder",OneHotEncoder(sparse_output=False, handle_unknown="ignore"))
])

#feature extraction for time
time_pipe=Pipeline(steps=[
    ("imputer",SimpleImputer(strategy="most_frequent")),
    ("extractor", DatetimeFeatures(features_to_extract=["hour","minute"], format="mixed")),
    ("scaler",StandardScaler())
])

#feature extraction for date
doj_pipe=Pipeline(steps=[
    ("imputer",SimpleImputer(strategy="most_frequent")),
    ("extractor",DatetimeFeatures(features_to_extract=["month","week","day_of_week","day_of_month"],format="mixed")),
    ("scaler",StandardScaler())
])

In [34]:
processor=ColumnTransformer(transformers=[
    ("num",num_pipe,num_col),
    ("cat",cat_pipe,cat_col),
    ("doj",doj_pipe,["date_of_journey"]),
    ("time",time_pipe,["dep_time","arrival_time"])
])

In [35]:
processor.fit_transform(X_train)

TypeError: LabelEncoder.fit_transform() takes 2 positional arguments but 3 were given